@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    --primary-color: #eaefd3;
    --secondary-color: #bcd676;
    --btn-color: #dcc48e;
    --standard-shadow: 2px 2px 3px rgb(198, 197, 197);
    --text-color: #44571b;
    --standard-border: 5px solid rgb(123, 155, 49, 0.9);
    font-family: "Teachers", sans-serif;
    font-size: 34px;
    font-weight: 500;
    color: var(--text-color);
}

.container {
    height: 100vh;
}

.header {
    display: flex;
    height: 80px;
    padding: 0 50px;
    background-color: var(--secondary-color);
    justify-content: space-between;
    box-shadow: 1px 2px 3px 0px rgb(181, 182, 180);
    position: relative;
}

.title {
    font-size: 40px;
    align-self: center;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-shadow: var(--standard-shadow);
}

.restart-btn {
    height: min-content;
    padding: 8px 15px;
    margin-right: 40px;
    color: #44571b;
    font-family: "Josefin Sans", sans-serif;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    background-color: white;
    border: none;
    border-radius: 25px;
    align-self: center;
    box-shadow: 1px 3px 2px 0px rgb(148, 148, 148);
}

.restart-btn:hover {
    position: relative;
    top: -2px;
}

.restart-btn:active {
    background-color: rgb(239, 239, 239);
    position: relative;
    top: 0px;
}

.turn-message {
    background-color: var(--primary-color);
    text-align: center;
    padding-top: 25px;
    height: min-content;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    padding: 30px 30px 40px;
    background-color: var(--primary-color);
}

.player {
    margin: 0 20px;
    text-align: center;
}

.player > p {
    white-space: nowrap;
    margin-bottom: 30px;
}

.game-area {
    width: 498px;
    height: 498px;
    background-color: white;
    border-radius: 20px;
    display: flex;
}

table {
    margin: 0 auto;
    align-self: center;
    border-collapse: collapse;
    border-spacing: 0;
}

.grid-cell {
    width: 145px;
    height: 145px;
    border: 0px solid transparent;
    text-align: center;
}

td > img {
    width: 60px;
    height: 60px;
}

.left {
    border-right: var(--standard-border);
}

.right {
    border-left: var(--standard-border);
}

.top {
    border-bottom: var(--standard-border);
}

.bottom {
    border-top: var(--standard-border);
}

.win-message {
    width: min-content;
    height: min-content;
    margin: auto;
    padding: 20px 30px;
    font-family: "Josefin Sans", sans-serif;
    color: var(--text-color);
    white-space: nowrap;
    border: none;
    border-radius: 20px;
    outline: none;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

.p1-score-area,
.p2-score-area {
    width: 200px;
    height: 180px;
    padding-top: 120px;
    margin-top: 30px;
    background-color: white;
    box-shadow: var(--standard-shadow);
    border-radius: 20px;
}

.p1-score,
.p2-score {
    color: #556c23;
    font-size: 60px;
    font-weight: 600;
}

.footer {
    font-size: 18px;
    text-align: center;
    padding: 3px 0;
    background-color: #c5cf9b;
}
